header{
    background: #27833E;
    color: #fff;
}
.main-article{
    color: #f2f2f2;
    color: black;
}
aside{
    border-radius: 8px;
    background: #19530D;
    color: #fff;
}
section{
    background: #f2f2f2;
}
.navbar{
    margin-bottom: 0px;
}
.info-image{
    width: 20%;
    height: 20%;
    border-radius: 500px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img 
  {
    width: 77%;
    margin: auto;
  }
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background: #19530D;
    color: white;
    text-align: center;
}
footer > p{
    margin: 0px;
}
table tr td label{
    display: flex;
    font-size: 90%;
}
table tr td{
    width: 33%;
}
label{
    margin-bottom: 0;
    font-weight: 400;
}
.comunas tr{
    background: #D9E1D7;
}
.tableTitle{
    text-align: center;
    font-size: 20px;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
    display: flex;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 2px;
}
input[type=radio]:hover{
    cursor: pointer;
}
/* ESTILOS PARA UTILIZAR EL MODAL */
#modal-btn:hover{
    cursor: pointer;
}

.content-modal{
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    -moz-transition: opacity 1s;
    width: 100%;
    height: 100%;
}
.content-modal:target{
    opacity: 1;
}
.close-modal{
    color: #ccc;
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.body-modal{
    background: #f9f9f9;
    border-radius: 5px;
    margin: 10% auto;
    padding: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2),0 7px 20px 0 rgba(0, 0, 0, .17);
    max-width: 750px;
    min-width: 250px;
    max-height: 750px;
    min-height: 250px;
}
.reg-form{
    text-align: center;
}
.header-modal{
    text-align: center;
    background: #67B621;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.reg-table{
    color: black;
    font-size: 17px;
    display: inline-block;
}
.reg-table input:focus{
    background-color: #ddd;
    outline: none;
}
.reg-table label{
    font-weight: bold;
}
.reg-table input{
    border-radius: 10px;
    border: none;
    padding: 15px;
    background: #ebebeb;
}
