body{
    background-color: #f2f2f2;
}
header{
    background: #218E55;
    color: #fff;
}
.main-article{
    color: #f2f2f2;
    color: black;
}
aside{
    border-radius: 8px;
    background: #1F2020;
    color: #fff;
}
section{
    background: white;
    border-radius: 8px;
}

.info-text{
    padding: 2em;
}

.welcome-title{
    font-weight: bold;
}

.navbar{
    background-color: #2ED67F;
    margin-bottom: 0px;
    border: 0px;
}
.navbar .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: gray;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #218E55;
}
.info-image{
    width: 20%;
    height: 20%;
    border-radius: 500px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img 
  {
    width: 77%;
    margin: auto;
  }

.comunas tr td label{
    display: flex;
    font-size: 90%;
}

table tr td{
    width: 33%;
}
label{
    margin-bottom: 0;
    font-weight: 400;
}
.comunas tr{
    background: #D9E1D7;
}
.tableTitle{
    text-align: center;
    font-size: 20px;
}
.comunas{
    text-align: center;
    max-width: 750px;
    min-width: 250px;
    max-height: 750px;
    min-height: 250px;
}
input[type=checkbox], input[type=radio] {
    margin: 0;
    display: flex;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 2px;
}
input[type=radio]:hover{
    cursor: pointer;
}

.btn{
    color: #1F2020;
    background-color: #2ED67F;
}
.btn:active{
    background-color: #2ED67F;
}
.btn:hover{
    background-color: #218E55;
}
/* ESTILOS PARA UTILIZAR EL MODAL */
#modal-btn:hover{
    cursor: pointer;
}

.content-modal{
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    -moz-transition: opacity 1s;
    width: 100%;
    height: 100%;
}
.content-modal:target{
    opacity: 1;
}
.close-modal{
    color: #ccc;
    float: right;
    font-size: 30px;
    cursor: pointer;
}
.body-modal{
    background: #f9f9f9;
    border-radius: 5px;
    margin: 10% auto;
    padding: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2),0 7px 20px 0 rgba(0, 0, 0, .17);
    max-width: 750px;
    min-width: 250px;
    max-height: 750px;
    min-height: 250px;
}
.reg-form{
    text-align: center;
}
.header-modal{
    text-align: center;
    background: #218E55;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.reg-table{
    color: black;
    font-size: 17px;
    display: inline-block;
}
.reg-table input:focus{
    background-color: #ddd;
    outline: none;
}
.reg-table label{
    font-weight: bold;
}
.reg-table input{
    border-radius: 10px;
    border: none;
    padding: 15px;
    background: #ebebeb;
}
.container-form{
    display: inline-block;
}
.categorias{
    border: 0;
}
.categorias td{
    border: 0;
    background: white;
}
.categorias tr td{
    width: auto;
}
.aside-destacados{
    background: #1F2020;
}
.buscar{
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.screens_container{
    display: inline-block;
}

textarea[name=commentC]{
    resize: none;
}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background: #218E55;
    color: white;
    text-align: center;
}

.bottom{
    padding: 1em;
}

footer > p{
    margin: 0px;
}

#hide_map{
    text-align: center;
    background: #1F2020;
}

#hide_container{
    font-weight: bold;
    color: #2ED67F;
    font-size: 20px;
    cursor: pointer;
}

#display_container{
    font-weight: bold;
    color: #2ED67F;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 450px){
    .footer{
        position: relative;
    }
}
