.button__container {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.button__container button {
    display: inline-block;
}

.block__iframe {
    position: relative;
    width: 90%;
    margin: 1em auto;
    height: 400px;
}

.disabled {
    display: none;
}

.enabled {
    display: block;
}

#myCarousel {
    overflow: hidden;
}

.carousel-caption {
    /* right: auto;
    left: auto; */
    padding-bottom: 0;
    top: 0;
}
.cat-rad{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.cat-rad + img{
    width: 80px;
    height: 75px;
    cursor: pointer;
}
.cat-rad:checked + img{
    outline: 2px solid #f00;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
    width: 100%;
    height: 120px;
}

/* IMAGENES DE RESULTADO TRAS BUSQUEDA */

.module-images {
    overflow-x: scroll;
}
.container__module {
    width: 100%;
    align-items: center;
    display: flex;
}
.container__module > div {
    display: inline-block;
    max-width: 25%;
    width: 25%;
    min-width: 25%;
    border: 1px solid #eaeaea;
    background-color: white;
    min-height: 300px;
}
.container__img {
    height: 100%;
    min-height: 200px;
    width: 100%;
}
.container__module img {
    width: 100%;
}
.container__img img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 800px){
    .container__module {
        display: block;
    }
    .container__module > div {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }
    .container__module img {
        height: 100%;
    }
}
@media screen and (max-width: 800px){

}